################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/CoreClientTest/v15
/CoreClientTest/bin
/CoreClientTest/obj
